{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Résultat du traitement</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }

        h1 {
            text-align: center;
        }

        h2 {
            margin-top: 30px;
        }

        p {
            margin-bottom: 20px;
        }

        audio,
        video {
            display: block;
            margin: 20px auto;
            max-width: 100%;
        }

        .download-button {
            display: block;
            margin-top: 20px;
        }
    </style>
    <script>
        function downloadText() {
            var text = document.getElementById("text").innerText;
            var element = document.createElement('a');
            element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
            element.setAttribute('download', 'texte_traduit.txt');
            element.style.display = 'none';
            document.body.appendChild(element);
            element.click();
            document.body.removeChild(element);
        }
    </script>
</head>
<body>
    <h1>Résultat du traitement</h1>
   
    {% if audio_fichiers and not video_fichiers %}
    <h2>Fichiers audio :</h2>
    {% for fichier in audio_fichiers %}
        {% if forloop.last %} {# Vérifie si c'est le dernier élément de la boucle #}
            {% if fichier.fichier_audio %}
                <audio controls>
                    <source src="{{ fichier.fichier_audio.url }}" type="audio/mpeg">
                    Votre navigateur ne supporte pas l'élément audio.
                </audio>
                <a href="{{ fichier.fichier_audio.url }}" download="audio.mp3">Télécharger l'audio</a>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% endif %}

    {% if video_fichiers  %}
    <h2>Fichiers vidéo :</h2>
    {% for fichier in video_fichiers %}
        {% if forloop.last %} {# Vérifie si c'est le dernier élément de la boucle #}
            {% if fichier.fichier_video %}
                <video controls>
                    <source src="{{ fichier.fichier_video.url }}" type="video/mp4">
                    Votre navigateur ne supporte pas l'élément vidéo.
                </video>
                <a href="{{ fichier.fichier_video.url }}" download="video.mp4">Télécharger la vidéo</a>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% endif %}
    
    {% if texte_traduit %}
        <h2>Texte traduit (Transcription) :</h2>
        <p id="text">{{ texte_traduit }}</p>
        <a href="#" class="download-button" onclick="downloadText()">Télécharger le texte</a>
    {% endif %}
    
</body>
</html>
