<!DOCTYPE html>
<html>
<head>
    <title>Résultat du traitement</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }

        h1 {
            text-align: center;
        }

        h2 {
            margin-top: 30px;
        }

        p {
            margin-bottom: 20px;
        }

        audio,
        video {
            display: block;
            margin: 20px auto;
            max-width: 100%;
        }
    </style>
</head>
<body>
    <h1>Résultat du traitement</h1>
   
    {% if audio_fichiers %}
    <h2>Fichiers audio :</h2>
    {% for fichier in audio_fichiers %}
        {% if forloop.last %} {# Vérifie si c'est le dernier élément de la boucle #}
            {% if fichier.fichier_audio %}
                <audio controls>
                    <source src="{{ fichier.fichier_audio.url }}" type="audio/mpeg">
                    Votre navigateur ne supporte pas l'élément audio.
                </audio>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% endif %}

    {% if video_fichiers %}
    <h2>Fichiers video :</h2>
    {% for fichier in video_fichiers %}
        {% if forloop.last %} {# Vérifie si c'est le dernier élément de la boucle #}
            {% if fichier.fichier_video %}
                <video controls>
                    <source src="{{ fichier.fichier_video.url }}" type="audio/mpeg">
                    Votre navigateur ne supporte pas l'élément audio.
                </video>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% endif %}


    {% if audio_url %}
        <h2>URL audio :</h2>
        <p>{{ audio_url }}</p>
    {% endif %}

</body>


</html>
