/* styles.css */

nav {
    background-color: #336699;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
}

li {
    margin-right: 20px;
}

a {
    color: #13bc87;
    text-decoration: none;
    padding: 10px;
}

a:hover {
    background-color: #0dec75;
    color: #336699;
}
